
#main-navbar {
  background-color: #27445C;
  overflow: hidden;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

#nav-container {
  float: left;
  width: 100%;
  position: relative;
}

#main-navbar ul {  
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#main-navbar ul li a{
  display: block;
  padding: 20px 20px;
  color: #fff;
  text-decoration: none;
  
}

#main-navbar ul li a:hover {
  background-color: #000;
}

#onpage {
  text-decoration: underline; 
  text-decoration-thickness: 3px;
}

#titlecss {
  text-align: center;
  font-family: 'Righteous', cursive;
}


#infocss {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
 h2{
  text-decoration: underline;
  font-family: Times New Roman;
  font-size: 30px;
} 
#infocss p {
  padding: 5px;
  margin: 0px;
  border: 0px;
  font-size: 15px;
}
 
 #excss p {
  font-size: 13px;
  font-weight: 900;
 }
 
 body ul li{
   font-family: Times New Roman;
   font-size: 15px;
   margin: 10px;
 }
 
 body ol{
   font-family: Times New Roman;
   font-size: 15px;
 }
 
body {
  margin: 0px;
  background-color: #FCFBF4;
}


/*css for Locations page*/

#location-body {
  background-color: gainsboro;
}
#location-body p {
  font-size: 13px;
}
#location-body li {
  font-weight: bold;
  list-style: none;
}
 .cabocss {
   border: 1px;
   margin: 1rem;
   padding: 2rem 2rem;
   text-align: center;
 }
 
 .caboinfo {
   float: left;
   display: inline-block;
   border: 1px;
   padding: 1rem 1rem;
   vertical-align: middle;
   }
   
 .uscss {
   float: left;
   border: 3px;
   margin: 2rem;
   margin: 2rem;
   padding: 2rem 2rem;
   text-align: center;
   }

  
  .usinfo {
    float: right;
    display: inline-block;
    border: 1px;
    padding: 2rem 2rem;
    vertical-align: middle;
  }
  
  .niagracss {
    float: left;
    border: 1px;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  
  .niagrainfo {
    display: inline-block;
    border: 1px;
    padding: 2rem 2rem;
    vertical-align: middle;

  }
 
 .cancuncss{
   float: right;
   border: 1px;
   margin: 1rem;
   padding: 2rem 2rem;
   text-align: center;
 }
 
 .cancuninfo {
   display: inline-block;
   border: 1px;
   padding: 1rem 1rem;
   vertical-align: middle;
 }
 

 
 .pariscss {
   border: 1px;
   margin: 1rem;
   padding: 2rem 2rem;
   text-align: center;
 }
 
 .parisinfo {
   float: left;
   display: inline-block;
   padding: 1rem 1rem;
   vertical-align: middle;
 }
 
 
.images {
  width: 250px;
  height: 300px;
  border: 3px solid;
  
}

.images:hover{
  border: 5px groove #40E0D0;
  color: #ff7a59;
  background-color: #fff;
}

/*css for hobbies page*/


#hobby-body {
  background-color: #a2b0a8;
}

#hobby-body p {
  font-size: 13px;
}
#soccermain {
 background-color: white;
 float: left;
 width: 33%;
 margin: 10px;
 box-shadow: 0px 4px 2px rgba(0,0,0,1);
 border-radius: 50px 50px 50px 50px;
 padding: 10px;
}

#soccerinfo {
  width: 100%;
  float: left;
  padding: 10px;
}


#soccervid {
  position:relative;
  padding-bottom: 50%;
  padding-top: 25px;
  height: 0;
}

#divforvid {
  float: left;
  width: 100%;
  
}

iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}

#moviecss {
 background-color: white;
 float: left;
 width: 25%;
 margin: 10px;
 box-shadow: 0px 4px 2px rgba(0,0,0,1);
 border-radius: 50px 50px 50px 50px;
 padding: 10px;
}

#movieinfo {
  width: 100%;
  float: left;
  padding: 10px;
}

#gamecss {
 background-color: white;
 float: left;
 width: 33%;
 margin: 10px;
 box-shadow: 0px 4px 2px rgba(0,0,0,1);
 border-radius: 50px 50px 50px 50px;
 padding: 10px;
}

#gameinfo {
  width: 100%;
  float: left;
  padding: 10px;
  vertical-align: center;
}

#wrapper {
  width: 850px;
  height: 600px;
  background-color: blue;
  margin: 0 auto;

  overflow: hidden;
}

#canvas{
  width: 700px;
  height: 500px;
  background-color: white;
  margin: 30px auto;
}

@media (min-width: 0px){
  #infocss h1{
    font-size: 20px;
  }
  h2{
    font-size: 20px;
  }
  #infocss p {
    font-size: 15px
  }
  #excss p {
    font-size: 13px;
  }
  body ul li{
    font-size: 15px;
  }
  body ol {
    font-size: 15px;
  }
}

@media (min-width: 600px){
  #infocss h1{
    font-size: 25px;
  }
  h2{
    font-size: 35px;
  }
  #infocss p {
    font-size: 20px
  }
  #excss p {
    font-size: 17px;
  }
  body ul li{
    font-size: 20px;
  }
  body ol {
    font-size: 20px;
  }
}

@media (min-width: 1200px){
  #infocss h1{
    font-size: 35px;
  }
  h2{
    font-size: 40px;
  }
  #infocss h1{
    font-size: 30px;
  }
  #infocss p {
    font-size: 25px
  }
  #excss p {
    font-size: 23px;
  }
  body ul li{
    font-size: 25px;
  }
  body ol {
    font-size: 25px;
  }
}


